= form_for [:menu, position] do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :price
    = f.number_field :price, :step => 0.01
  .field
    = f.label :image
    = f.text_field :image  
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
