%h1 Menu

%table.table.table-striped
  %tr
    %th
    %th Name
    %th Price
    %th
    %th
    %th

  - positions.each do |position|
    %tr
      %td= image_tag position.image, size: "100x100"
      %td= position.name
      %td= position.price
      %td= link_to 'Edit', edit_menu_position_path(position)
      %td= link_to 'Destroy', menu_position_path(position), :method => :delete

%br
= link_to 'New Item', new_menu_position_path, :class => "btn btn-primary"