= form_for [:waiter, waiter_orders] do |f|
  - positions.each do |position|
    = fields_for "order_items[]", order_item do |ff|
      %p= position.name
      = ff.number_field :quantity
      = ff.hidden_field :id, :value => position.id
  = f.submit 'Add Order' 